annotated-types==0.7.0
black==25.1.0
click==8.2.1
iniconfig==2.1.0
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
platformdirs==4.3.8
pluggy==1.6.0
pydantic==2.10.4
pydantic_core==2.27.2
pytest==8.3.5
typing_extensions==4.13.2
